.container {
    position:relative;
}

.trainee-name{
    text-align: center;
}

.trainee-location{
    text-align: right;
}    

.theme-text {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey;
}

.theme-text .displayMessage{
    visibility: hidden;
    width: 200px;
    background-color: #F8F8FF;
    color: black;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    border: outset 1px;
    border-color: black;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top: 20px;
    left: 110%;
  }

.theme-text:hover .displayMessage {
    visibility: visible;
    position: absolute;
    opacity: 1;
  }

.concept-text {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey;
}

.concept-text .displayMessage{
    visibility: hidden;
    width: 200px;
    background-color: #F8F8FF;
    color: black;
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    border: outset 1px;
    border-color: black;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top: 10px;
    left: 105%;
  }

.concept-text:hover .displayMessage {
    visibility: visible;
  }

.rating-star {
    vertical-align: top;
}

.rating-text {
    font-size: small;
    min-width: fit-content;
    vertical-align: top;
}

.week {
    width:15%;
}

.theme {
    width:10%;
}
.concept {
    width:40%;
}
.rating {
    width:15%;
}
.comment {
    width:30%;
}

.comment-text {
    font-size:10px;
}


table {
    width: 100%;
    display: inline-block;
}
  
thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: auto;
}

tbody {
    display: block;
    overflow-y: scroll;
    table-layout: auto;
    max-height: 200px;
}

.feedback-box {
    padding: 10px;
    display:inline-block;
}



